@font-face { font-family: oof; src: url('oof.otf'); } 
            .suse-dafont {
                font-family: "SUSE", sans-serif;
                font-optical-sizing: auto;
                font-weight: 20;
                font-style: normal;
            }
            #body {
                font-family: SUSE;
                text-align: center; /* Still needed for horizontal centering of inline elements */
                margin: 0 auto;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -80%);
            }

            h1 {
                font-family: oof;
                position: absolute;
                top: 70%;
                left: 50%;
                transform: translate(-50%, -20%);
            }